@import "tailwindcss";

@layer components {
  .h-title {
    @apply mb-4 text-lg font-semibold text-slate-300;
  }
  .d-bg {
    @apply rounded-xl p-4 bg-[#1E293B] text-slate-300;
  }
}

.recharts-surface:focus {
  outline: none;
}

.recharts-wrapper [tabindex]:focus {
  outline: none !important;
}

