@import "tailwindcss";

@layer components {
  .h-title {
    @apply mb-4 text-lg font-semibold;
  }
  .d-bg {
    @apply rounded-xl bg-slate-200 p-4;
  }
}

.recharts-surface:focus {
  outline: none;
}

.recharts-wrapper [tabindex]:focus {
  outline: none !important;
}

